.gallery {
  padding: 0;
  margin: 0;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 8px;
  border-radius: 10px;
  background-color: #1a1919;
  overflow: hidden;
}

.img-wrapper {
  overflow: hidden;
}

img {
  display: block;
  width: 490px;
  height: 300px;
  object-fit: cover;
  transition: transform 300ms ease-in-out;
}

img:hover {
  transform: scale(1.2);
}

.info {
  padding: 10px;
}
